h1{
font-family: 'Poppins', sans-serif;
padding-top: 50px;
}

body{
text-align: center;
background: #c9ccd1;
background-image: url(crudPacienteBackground.png);
}

legend {
color: black;
padding: 5px 10px;
border: 10px;
font-family: sans-serif;

}

fieldset{
border-color: rgb(0, 0, 0);
width: 25%;
margin: 100px auto;
font-family: 'Poppins', sans-serif;
}

input{
text-align: center;
}

